@import "./src/scss/variables";

app-header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
}

app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}

.app-content {
  padding-top: 60px;
}
