@import "./src/scss/variables";

.footer-wrapper {
  width: 100%;
  height: 50px;
  background-color: aquamarine;
  display: flex;
  align-items: center;

  .footer-title {
    margin: auto;
    @include text-16();
  }
}
